<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
        @* <href="mailto:nuhoangchenhac@gmail.com">nuhoangchenhac@gmail.com</href> *@
        <custom-email my-email="nuhoangchecnhac@gmail.com"></custom-email>
    </div>
</footer>
