@{
    Layout = "_Layout";
}

@section breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page1</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>This is about page</p>
</div>
