@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Book Store Application</h1>
    <h3>@DateTime.Now</h3>
    @* Some Razor Engine Example *@
    <p>Sum = @(3+5)</p>
    @{
        string name = "Thanh";
        int age = 19;
    }
    <p>@name is @age years old.</p>
    <p>This is home page</a>.</p>
</div>
