@* @{
    ViewData["Title"] = "Home";
} *@

@{
    var book = ViewData["Book"] as BookModel;
}

<section class="jumbotron text-center">
    <div class="container">
        <img src="~/images/logo.png" class="logo" alt="logo">
        <h1 class="display-4">Welcome To Home Page @ViewData["CustomProperty"]</h1>
        <p>
            @book.Id - @book.Title
        </p>
        <h3>@DateTime.Now</h3>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <h3>Top Books</h3>
        @await Component.InvokeAsync("TopBooks", new { count = 3})
        @*<vc:top-books count="6"></vc:top-books>*@

    </div>
</div>
