@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/logo.png" class="logo" alt="logo">
    <h1 class="display-4">Welcome To Book Store Application</h1>
    <h3>@DateTime.Now</h3>
    <p>This is home page</a>.</p>
</div>
