# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\thanh.nth176871\Source\Repos\dotnet-mvc_web\wwwroot codebase based on best match to current usage at 5/5/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

